.header {
    background-color: $primary-color-dark-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $body-base-color;

    &__logo-box {
        margin: 0 $margin-lg;

        @include xl {
            margin: 0 rem-calc(80px);
        }

        &-content {
            display: inline-block;
            margin: rem-calc(22px) 0;
        }
    }

    &__logo {
        width: 100%;
    }
}