html {
    background-color: $body-base-color;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: $font-base;
    background-color: $body-base-color;
    color: $text-base-color;
}
